* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; /* Font smooth */
  -moz-osx-font-smoothing: grayscale; /* firefox in macOS*/
}

:root {
  font-size: 62.5%;
  --font-primary: "Roboto", sans-serif;
  /* cores */
  --dark-blue: #040c0e;
  --gray-blue: #132226;
  --light-blue: #6bdefe;
  --gray: #515b56;
  --beige: #be9063;
  --brown: #a4978e;
}

body {
  font-family: var(--font-primary);
  background-color: var(--dark-blue);
  color: var(--brown);
}

header {
  background-color: var(--gray-blue);
  padding: 20px;
  position: relative;
}

/* animação borda */
header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 30%,
    rgba(96, 239, 249, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  animation: lightMove 3s linear infinite;
  filter: brightness(1) saturate(1);
  box-shadow: 0 5px 10px rgba(0, 238, 255, 0.6), 
              0 10px 20px rgba(0, 238, 255, 0.4),
              0 15px 30px rgba(0, 238, 255, 0.2);
}

/* Animação luz */
@keyframes lightMove {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

